/* ./components/Login.css */

.login-container {
    max-width: 30vw;
    margin: 5vh  auto;
    padding: 3vh;
    background-color: #f7f7f7;
    border-radius: 0.8vh;
    box-shadow: 0 0 1vh  rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 2vh;
    color: #333333;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 0.5vh;
    font-weight: bold;
    color: #575656;
  }
  
  .login-form input {
    width: 100%;
    padding: 1vh;
    margin-bottom: 1.5vh;
    border: 1px solid #ecebeb;
    border-radius: 0.4vh;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  .login-form input:focus {
    border-color: #3078bb;
    outline: none;
  }
  .password-input-container {
    position: relative;
  }
  
  .password-toggle-button {
    position: absolute;
    top: 50%;
    right: 1vh;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #555;
    font-size: 1.2em;
  }
  
  .password-toggle-button:focus {
    outline: none;
  }
  
  .password-toggle-button:hover {
    color: #000;
  }
  .login-form button[type="submit"] {
    width: 100%;
    padding: 1vh;
    background-color: #5b9bd5;
    border: none;
    border-radius: 0.4vh;
    color: white;
    font-size: 1.6vh;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #1b558f;
  }
  
  .error-message {
    color: #f80808;
    margin-bottom: 1.5vh;
    text-align: center;
  }
  
  .success-message {
    color: #06f041;
    margin-bottom: 1.5vh;
    text-align: center;
  }
  